openapi: 3.1.0
info:
  title: PI Plugin Center API
  version: 2.0.0-draft
  description: |
    Publishing and query surface of the plugin center.

    The PI-Desktop client does not depend on this API. It reads the generated
    `catalog.json` and downloads release assets, both static files on GitHub and
    CNB, so browse, install, and update keep working while this service is down.
    That is the main resilience benefit of not using object storage.

    Public routes return only published data. Every mutation requires a session,
    CSRF and Origin checks, an idempotency key, and writes an audit event.
    Internal routes use service identity and reject browser sessions.
servers:
  - url: https://api.pi-plugin-center.dev

tags:
  - name: public
  - name: publisher
  - name: internal

paths:
  /v2/catalog.json:
    get:
      tags: [public]
      summary: Current catalog generation
      description: The same document served from GitHub and CNB, for clients that prefer an API origin.
      responses:
        "200":
          description: Catalog
          content:
            application/json:
              schema: { $ref: "https://pi-plugin-center.dev/schema/catalog.schema.json" }

  /v2/plugins:
    get:
      tags: [public]
      summary: List published plugins
      parameters:
        - { in: query, name: query, schema: { type: string } }
        - { in: query, name: category, schema: { type: string } }
        - { in: query, name: cursor, schema: { type: string }, description: "Cursor pagination; offset is not a supported long-term interface." }
        - { in: query, name: limit, schema: { type: integer, minimum: 1, maximum: 100, default: 30 } }
      responses:
        "200":
          description: Page of plugin summaries
          content:
            application/json:
              schema:
                type: object
                required: [schemaVersion, items]
                properties:
                  schemaVersion: { const: 2 }
                  items: { type: array, items: { $ref: "#/components/schemas/PluginSummary" } }
                  nextCursor: { type: string, nullable: true }

  /v2/plugins/{pluginId}:
    get:
      tags: [public]
      summary: Plugin detail
      parameters: [{ $ref: "#/components/parameters/PluginId" }]
      responses:
        "200":
          description: Plugin detail
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PluginDetail" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v2/plugins/{pluginId}/versions:
    get:
      tags: [public]
      summary: Version history, newest first, including withdrawn versions
      parameters: [{ $ref: "#/components/parameters/PluginId" }]
      responses:
        "200":
          description: Versions
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { $ref: "#/components/schemas/Version" } }
        "404": { $ref: "#/components/responses/NotFound" }

  /v2/plugins/{pluginId}/versions/{version}:
    get:
      tags: [public]
      summary: One version, with its source pin and review verdict
      parameters:
        - { $ref: "#/components/parameters/PluginId" }
        - { in: path, name: version, required: true, schema: { type: string } }
      responses:
        "200":
          description: Version
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Version" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v2/publishers/{publisherId}:
    get:
      tags: [public]
      summary: Public publisher profile
      parameters: [{ in: path, name: publisherId, required: true, schema: { type: string } }]
      responses:
        "200": { description: Publisher }
        "404": { $ref: "#/components/responses/NotFound" }

  /v2/healthz:
    get:
      tags: [public]
      summary: Liveness
      responses: { "200": { description: OK } }

  /v2/auth/github/start:
    get:
      tags: [publisher]
      summary: Begin GitHub App OAuth with PKCE and state
      responses: { "302": { description: Redirect to GitHub } }

  /v2/auth/github/callback:
    get:
      tags: [publisher]
      summary: Complete OAuth and establish a session
      parameters:
        - { in: query, name: code, required: true, schema: { type: string } }
        - { in: query, name: state, required: true, schema: { type: string } }
      responses:
        "302": { description: Redirect to the publisher console }
        "400": { $ref: "#/components/responses/Error" }

  /v2/me:
    get:
      tags: [publisher]
      summary: Current account, publishers, and linked installations
      security: [{ session: [] }]
      responses:
        "200": { description: Account }
        "401": { $ref: "#/components/responses/Error" }

  /v2/github/installations:
    get:
      tags: [publisher]
      summary: Installations the account can publish from
      security: [{ session: [] }]
      responses: { "200": { description: Installations } }

  /v2/github/installations/link:
    post:
      tags: [publisher]
      summary: Bind an installation and repository to a publisher
      description: |
        Records the ownership evidence: the account, the installation, the
        repository, the role GitHub reported, the check time, and a hash of the
        response. Being logged in is never sufficient.
      security: [{ session: [] }]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [publisherId, installationId, repository]
              properties:
                publisherId: { type: string }
                installationId: { type: integer }
                repository: { type: string, pattern: "^https://[^\\s?#@]+$" }
      responses:
        "201": { description: Linked }
        "403":
          description: Ownership denied
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                denied: { value: { code: SOURCE_OWNERSHIP_DENIED, message: "account does not hold admin or maintain on the repository" } }
        "503":
          description: Ownership could not be established
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                unavailable: { value: { code: SOURCE_OWNERSHIP_UNAVAILABLE, message: "GitHub did not answer the permission check" } }

  /v2/plugins/{pluginId}/submissions:
    post:
      tags: [publisher]
      summary: Submit a version for publication
      description: |
        Ownership verification completes before the submission is queued. There
        is no path that enqueues first and checks permission later.
      security: [{ session: [] }]
      parameters:
        - { $ref: "#/components/parameters/PluginId" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "https://pi-plugin-center.dev/schema/submission.schema.json" }
      responses:
        "202":
          description: Accepted for review
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Submission" }
        "403": { $ref: "#/components/responses/Error" }
        "409":
          description: This plugin, channel, and version already has a published release
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v2/submissions/{submissionId}:
    get:
      tags: [publisher]
      summary: Submission state and evidence summary
      security: [{ session: [] }]
      parameters: [{ in: path, name: submissionId, required: true, schema: { type: string } }]
      responses:
        "200":
          description: Submission
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Submission" }

  /v2/submissions/{submissionId}/cancel:
    post:
      tags: [publisher]
      summary: Cancel a submission that has not been published
      security: [{ session: [] }]
      parameters:
        - { in: path, name: submissionId, required: true, schema: { type: string } }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      responses:
        "200": { description: Canceled }
        "409":
          description: Already in a terminal state
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /internal/policy-evaluations/{releaseId}:
    post:
      tags: [internal]
      summary: Run the policy evaluator, the only component that can approve
      description: |
        Recomputes every gate from the database. `deterministicGates`,
        `publishable`, and `approved` in a model report are ignored. Missing
        evidence or a dependency outage yields needs_info or build_failed,
        never published.
      security: [{ serviceIdentity: [] }]
      parameters: [{ in: path, name: releaseId, required: true, schema: { type: string } }]
      responses:
        "200":
          description: Decision
          content:
            application/json:
              schema:
                type: object
                properties:
                  decision: { enum: [approved, needs_info, blocked, build_failed] }
                  policyVersion: { type: string }
                  reasons: { type: array, items: { type: string } }

  /internal/catalog-publications:
    post:
      tags: [internal]
      summary: Generate, sign, and atomically swap a catalog generation
      description: |
        Ordering is load-bearing: database commit, outbox event, asset upload,
        mirror, full catalog generation, signature, atomic generation swap. Any
        failed step leaves the previous generation serving.
      security: [{ serviceIdentity: [] }]
      responses:
        "201": { description: New generation published }

  /v2/webhooks/github:
    post:
      tags: [internal]
      summary: GitHub App events
      description: |
        Handles installation, repository, push, release, and membership changes.
        A revoked installation stops further submissions immediately. Requests
        are rejected unless the HMAC signature verifies.
      responses:
        "204": { description: Accepted }
        "401": { description: Bad signature }

components:
  securitySchemes:
    session:
      type: apiKey
      in: cookie
      name: pic_session
    serviceIdentity:
      type: http
      scheme: bearer
      description: Short-lived service token or mTLS. Browser sessions are rejected.

  parameters:
    PluginId:
      in: path
      name: pluginId
      required: true
      schema: { type: string, pattern: "^[a-z0-9][a-z0-9-]*\\.[a-z0-9][a-z0-9-]*$" }
    IdempotencyKey:
      in: header
      name: Idempotency-Key
      required: true
      schema: { type: string, minLength: 8, maxLength: 200 }

  responses:
    NotFound:
      description: Not found
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Error:
      description: Error
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

  schemas:
    Error:
      type: object
      required: [code, message]
      properties:
        code: { type: string }
        message: { type: string }
        requestId: { type: string }

    PluginSummary:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        description: { type: string }
        author: { type: string }
        publisherId: { type: string }
        trust: { enum: [verified, community, unknown] }
        categories: { type: array, items: { type: string } }
        latestVersion: { type: string }
        updatedAt: { type: string, format: date-time }

    PluginDetail:
      allOf:
        - $ref: "#/components/schemas/PluginSummary"
        - type: object
          properties:
            repository: { type: string }
            homepage: { type: string }
            readmeMarkdown: { type: string }
            safetyNotes: { type: string }
            versions: { type: array, items: { $ref: "#/components/schemas/Version" } }

    Version:
      type: object
      properties:
        version: { type: string }
        channel: { enum: [stable, beta] }
        publishedAt: { type: string, format: date-time }
        changelog: { type: string }
        minPiDesktop: { type: string }
        permissions: { type: array, items: { type: string } }
        artifactUrl: { type: string }
        shasum: { type: string }
        sizeBytes: { type: integer }
        yanked: { type: boolean }
        yankedReason: { type: string }
        provenance:
          type: object
          properties:
            sourceRepository: { type: string }
            sourceRef: { type: string }
            sourceCommit: { type: string }
            sourcePath: { type: string }
            builder: { type: string }
        review:
          type: object
          properties:
            decision: { type: string }
            risk: { type: string }
            policyVersion: { type: string }

    Submission:
      type: object
      properties:
        submissionId: { type: string }
        pluginId: { type: string }
        version: { type: string }
        state:
          enum:
            - submitted
            - ownership_verified
            - source_pinned
            - scanning
            - building
            - ai_review
            - policy_evaluated
            - approved
            - published
            - needs_info
            - changes_requested
            - blocked
            - build_failed
            - canceled
        attempt: { type: integer }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        reasons: { type: array, items: { type: string } }
